body {
	background-image: url(../images/contemporary-wallpaper.jpg);
	background-attachment: fixed;
}

div.image {
	margin: 2px;
	height: auto;
	width: auto;
	float: left;
	text-align: center;
}

div.image img {
	display: inline;
	margin: 3px;
}

div.desc {
	text-align: center;
	font-weight: normal;
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 16px;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 16px;
	text-align: center
}

table {
	background-color: #F0F0EE
}

a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #666
}
