body {
    background-image: url("../images/contemporary-wallpaper.jpg");
    background-attachment: fixed;
}

table {
    margin-left: 10%;
    font-size: 20px;
}

td {
    padding: 10px 0px;
}

input {
    font-size: 25px;
}

input[type="text"],
input[type="password"] {
    height: 40px;
    width: 400px;
    border-radius: 5px;
    border: 1.5px solid darkcyan;
}

input[type="checkbox"],
input[type="radio"] {
    width: 25px;
    height: 25px;
}

.big {
    font-size: 25px;
}

select {
    height: 40px;
    width: 400px;
    font-size: 25px;
    border-radius: 5px;
    border: 1.5px solid darkcyan;
}

input[type="button"],
input[type="reset"] {
    background-color: blue;
    color: white;
    font-size: 25px;
    padding: 20px;
    border-radius: 5px;
    border: 1.5px solid darkcyan;
}

input[type="reset"] {
    margin-left: 150px;
}
